<option value="Conferences">Conferences</option>
<option value="Journals">Journals</option>
<option value="Books">Books</option>
<option value="Magazines">Magazines</option>
<option value="Standards">Standards</option>
<option value="Early Access Articles">Early Access Articles</option>

