<option value="1885" class="dropdown">1885
    <% var currentYear = new Date().getFullYear(); %>
    <% for (var year = 1885; year <= currentYear; year++) { %>
      <option value="<%= year %>"><%= year %></option>
    <% } %>
  </option>
  