<option value="newest">Newest</option>
<option value="oldest">Oldest</option>
<option value="relevance">Relevance</option>
<option value="paper-citations">Most Cited By Citations</option>
<option value="patent-patents">Most Cited By Patents</option>
<option value="most-popular">Most Popular</option>
<option value="pub-title-asc">Publication Title A-Z</option>
<option value="pub-title-desc">Publication Title Z-A</option>
